@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* global */
.container{
    max-width: 1160px;
    margin: auto;
}
header{
    background-color: #2D25A0;
    height: 677px;
}

/* banner start */
.banner{
    display: flex;
    align-items: center;
}
.banner-text{
    width: 50%;
    margin-top: 150px;

}
.banner-image{
    margin-top: 150px;
    width: 50%;
    margin-left: 102px;
}
.banner-text h1{
    color: #ffff;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.banner-text a{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #ffff;
    padding: 10px 24px;
}
.banner-text a .fa-arrow-right{
    padding-left: 8px;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}
/* banner end */

/* top player section start */
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 70px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player h3{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    padding-top: 10px;
}