@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* global */
.container{
    max-width: 1160px;
    margin: auto;
}
header{
    background-color: #2D25A0;
    height: 677px;
}

/* banner start */
.banner{
    display: flex;
    align-items: center;
}
.banner-text{
    width: 50%;
    margin-top: 150px;

}
.banner-image{
    margin-top: 150px;
    width: 50%;
    margin-left: 102px;
}
.banner-text h1{
    color: #ffff;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.banner-text a{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #ffff;
    padding: 10px 24px;
}
.banner-text a .fa-arrow-right{
    padding-left: 8px;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}
/* banner end */

/* top player section start */
.top-players{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player h3{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    padding-top: 10px;
}
/* top player section end */

/* youtube video section start */

.youtube-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.youtube-video h1{
    font-weight: 700;
    font-size: 48px;
}
.argentina{
    color: #75aadb;
}
.brazil{
    color: #009c3b;
}
.youtube-video iframe {
    width: 70%;
    height: 450px;
    margin-top: 35px;
}
/* youtube video section end */

 /* Subscription Plan start */
 .subscription-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.subscription-plan h1 {
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}
/* Subscription Plan end */

/* membership part start  */
.membership {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
}
.membership-plan {
    max-width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.item-title {
    width: 100%;
    text-align: center;
    border-width: 1px 1px 0 1px;
    background-color: rgba(39,85,160);
}
.item-title h3{
    font-size: 19px;
    color: #fff;
    padding: 4px;
    line-height: 40px;
}
.item-price{
    background-color: rgba(39,85,160,.8);
    width: 100%;
    text-align: center;
}
.item-price h3{
    font-size: 45px;
    color: #fff;
    line-height: 65px;
    padding: 10px 0;
}
.item-content {
    padding: 10px;
    min-height: 150px;
    padding-bottom: 65px;
}
.item-content ul {
    padding-left: 30px;
}
.item-content li {
    font-size: 16px;
    line-height: 32px;
}
.item-button {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}
.sign-up {
    text-align: center;
    position: absolute;
    text-decoration: none;
    width: 124px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #ffff;
    padding: 9px 18px;
    border-radius: 4px;
}
/* footer part start */
.footer-container{
    width: 483.87px;
    height: 213px;
    margin: auto;
}
.logo{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.logo img{
    width: 100%;
}
.social-media {
    margin: auto;
    width: 170px;
    height: 32px;
    display: flex;
}
.social-media i {
    margin: 0px 14px;
    color: gray;
}
.Copyright {
    margin: auto;
    width: 236px;
    height: 31px;
    margin-top: 20px;
}
.Copyright p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
/* footer part end */
